<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Linguista.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TMDateIntervalTestHost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B2BC2151DA2ADD3003FAAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B2BC2231DA2AF19003FAAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B2BC2301DA2B0D7003FAAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B93467A1DA2B306000E0EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B93468D1DA2B306000E0EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B9708831D70958300525BD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B99A9C81DA2CAD700169E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B99A9DB1DA2CAD700169E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
